<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>タイトル一覧画面</title>
<link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>

	<ul>
	<table border=”1″>
		<tr th:each="data :${titleList}">
			<td th:text="${data.title}" ></td>
			<td><a th:href="@{/blog/{id}(id=${data.id})}"><button type="button">選択</button></a></td>
		</tr>
	</ul>


	<form action="/">
		<input type="submit" value="戻る" />
	</form>

</body>
</html>