<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ブログ本文表示画面</title>
<link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
	<table border=”1″>
	<tr>
		<th>タイトル</th>
	</tr>

	<tr>
		<td th:text=${title}>
	</tr>
	</table><br>

	<table border=”1″>
	<tr>
		<th>本文</th>
	</tr>
	<tr>
		<td th:text=${article}>
	</tr>

	</table>

	<button type="button" onclick="history.back()">戻る</button>
		<form action="/">
		<input type="submit" value="TOP画面へ" />
	</form>
</body>
</html>