<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ブログ記事新規作成</title>
	</head>

	<body>
		<h3>新規ブログ記事作成</h3>

		<th:block th:if="${errorMessages}">
		<ul>
			<tr th:each="alert:${errorMessages}">
				<li><td th:text="${alert}"></li>
			</tr>
		</ul>
		</th:block>


		<form method="post" action="/create_blog" th:object="${formModel}">
			<p>カテゴリ</p>
			<select name="category_id">
				<option th:value="NG" selected>選択してください</option>
				<option
		                th:each="catg : ${categoryList}"
		                th:value="${catg.category_id}"
		                th:text="${catg.category_name}"></option>

			</select><br>
			<p>タイトル</p>
			<input type="text" name="title" th:field ="*{title}" maxlength="50" size="91">

			<br><p>ブログ本文</p>
			<textarea th:field="*{article}" name="article" maxlength="1000"></textarea>

			<br><input type="submit" value="登録" />

			<button type="button" onclick="history.back()">戻る</button>

		</form>
	</body>
</html>