<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ブログ記事一覧画面</title>
</head>
<body>
	<form action="/create_blog">
		<input type="submit" value="ブログ記事を新規作成" />
	</form>

	<ul>
		<table border=”1″>
		<tr>
			<th>タイトル</th>
			<th>作成日時</th>
		</tr>
		<tr th:each="blog :${blogList}">
			<td th:text="${blog.title}" ></td>
			<td th:text="${blog.create_datetime}" ></td>
			<td><a th:href="@{/edit_blog/{id}(id=${blog.id})}"><button type="button">編集</button></a></td>
		</tr>
	</ul>

	<form action="/edit">
		<input type="submit" value="設定画面へ戻る" />
	</form>
	<form action="/">
		<input type="submit" value="TOP画面へ" />
	</form>
</body>
</html>