<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>編集</title>
</head>
<body>

		<th:block th:if="${errorMessages}">
		<ul>
			<tr th:each="alert:${errorMessages}">
				<li><td th:text="${alert}"></li>
			</tr>
		</ul>
		</th:block>

	<form method="post" action="/edit_blog" th:object="${formModel}">
		<input type="hidden" th:value="${id}" name="id">
		<input type="hidden" th:value="${category_id}" name="category_id">

		<p>タイトル</p>
		<input type="text" name="title" th:value ="${title}" maxlength="50" size="91">

		<br><p>ブログ本文</p>
		<textarea th:value="${article}" name="article" maxlength="1000">[[${article}]]</textarea>

		<br>
		作成日時　[[${create_datetime}]]
		<input type="hidden" th:value="${create_datetime}" name="create_datetime">

		<br><input type="submit" value="登録" />

		<button type="button" onclick="history.back()">戻る</button>

	</form>

</body>
</html>