<!DOCTYPE html>
</head>
<body>
	<th:block th:if="${alertList}">
	<ul>
		<tr th:each="alert:${alertList}">
			<li><td th:text="${alert}"></li>
		</tr>
	</ul>
	</th:block>

	<th:block th:if="${alert}">
		<td th:text="${alert}">
	</th:block>

<form method="post" action="/edit_newuser" th:object="${formModel}">
	<h3>管理ユーザー新規登録</h3>
	<p>名前</p>
	<input type="text" name="name" th:field ="*{name}" maxlength="20">
	<p>メールアドレス</p>
	<input type="text" name="email" th:field ="*{email}" maxlength="50">
	<p>アカウント名</p>
	<input type="text" name="account" th:field ="*{account}" maxlength="20">
	<p>パスワード</p>
	<input type="text" name="password" th:field ="*{password}" maxlength="200"><br>

	<br><input type="submit" value="登録" />
</form>

	<br><form action="/edit">
		<input type="submit" value="設定画面へ戻る" />
	</form>

</body>
</html>