<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>管理ユーザ一覧画面</title>
</head>
<body>

	<ul>
		<table border=”1″>
		<tr>
			<th>名前</th>
			<th>メールアドレス</th>
			<th>アカウント名</th>
		</tr>
		<tr th:each="user :${userList}">
			<td th:text="${user.name}" ></td>
			<td th:text="${user.email}" ></td>
			<td th:text="${user.account}" ></td>
			<td><a th:href="@{/edit_profile/{id}(id=${user.id})}"><button type="button">編集</button></a></td>
		</tr>
	</ul>



	<button type="button" onclick="history.back()">戻る</button>

</body>
</html>