<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>管理者_設定画面</title>
</head>
<body>

<div>
	<table border=”1″>
	<tr>
		<th>管理ユーザ新規登録</th>
		<th>ブログ記事一覧</th>
		<th>管理ユーザ一覧</th>
	</tr>

	<tr>
		<td><a th:href="@{/edit_newuser}"><button type="button">選択</button></a></td>
		<td><a th:href="@{/edit_allblog}"><button type="button">選択</button></a></td>
		<td><a th:href="@{/edit_alluser}"><button type="button">選択</button></a></td>
	</tr>
</div>

<div>
	<form action="/">
		<input type="submit" value="TOP画面へ" />
	</form>
</div>
</body>
</html>