<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
</head>
<body>
	<th:block th:if="${alert}">
		<td th:text="${alert}">
	</th:block>

	<form method="post" action="/login" th:object="${formModel}">
		<table border="1">
			<tr>
				<th>メールアドレス</th>
				<td>
					<input type="text" name="email" th:field ="*{email}" size="20" maxlength="50">
				</td>
				<th>パスワード</th>
				<td>
					<input type="password" name="password" th:field="*{password}" size="20" maxlength="200">
				</td>
			</tr>
		</table>
		<input type="submit" value="ログイン" />
	</form>


	<form action="/">
		<input type="submit" value="戻る" />
	</form>

</body>
</html>