<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>onoBlog</title>
<link rel="icon" href="/favicon.ico" />
<link th:href="@{/css/common.css}" rel="stylesheet">
<link th:href="@{/css/top.css}" rel="stylesheet">
</head>
<body>

	<a href="/login"><button type="button">管理ページはこちら</button></a>
	<br>
	<h2>カテゴリ選択</h2>

	<ul>
		<table border=”1″>
		<tr th:each="data : ${categoryData}">
			<td th:text="${data.category_name}" ></td>
			<td>
				<a th:href="@{/all_blogtitle/{category_id}(category_id=${data.category_id})}"><button type="button">選択</button></a>
			</td>
		</tr>
	</ul>

</body>
</html>